.dody{
    padding-top: 200px;
    padding-left: 120px;
}
.image{
width: 100%;
cursor: pointer;
}
.section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    background-color: rgb(255, 255, 255);
}
.div{
    display: grid;
    grid-template-columns: 70px 1fr;
}
.header{
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 60px;
  background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav{
    position: fixed;
    top: 60px;
    left: 0px;
    bottom: 0px;
    width: 105px;
    background-color: rgb(243, 243, 243);
   
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    
}
.image-channel{
    border-radius: 100px;
    width: 55px;
    cursor: pointer;
}


@media(min-width:100px){
    .section{
        grid-template-columns: 1fr ;
    }

    .dody{
        padding-top: 200px;
        padding-left: 0px;
    }



}

@media(max-width:750px){
    .section{
        grid-template-columns: 1fr;
    }
    .header{
        height: 50px;
        margin-bottom: 100px;
    }
    .nav{
        visibility: hidden;
        display: none;
    }
    .dody{
        padding-left: 0px;
        padding-top: 70px;
        
    }
   
}

@media(min-width:751px){
    .section{
        grid-template-columns: 1fr 1fr 1fr ;
    }
    .dody{
        padding-top: 70px;
        padding-left: 120px;
    }
}
@media(min-width:1100px){
    .section{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .dody{
        padding-top: 70px;
        padding-left: 120px;
    }
}
.meneu{
    width: 100%;
}
.button-meneu{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 24px;
    margin-right: 24px;
    border-radius: 25px;
    transition: 0.30s;
}
.button-meneu:hover{
    background-color: rgb(197, 197, 197);
    border-radius: 25px;
    transition: 0.30s;
}
.first-section{
   
    width: 200px;
}
.middlesection{
  
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 600px;
    height: 60px;

}
.last-section{
width: 200px;

display: flex;
align-items: center;
justify-content: center;
}
.button-search{
    height: 45px;
    margin-left: -3px;
    width: 60px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
    cursor: pointer;
    transition: 0.30s;
    
}
.img-search{
 width: 100%;

}
.search-input{
    height: 45px;
    border: solid 1px black;
    border-radius: 4px;
    flex: 1;
    width: 0px;
}
.button-search:hover{
    background-color: orange;
    border-color: black;
    transition: 0.30s;
}
.mic{
    height: 40px;
    width: 40px;
    background-color: rgb(199, 199, 199);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.25s;

}
.mic:hover{
    background-color: rgb(131, 131, 131);
    transition: 0.25s;
}
.sign-in-button{
display: flex;
justify-content: center;
align-items: center;
background-color: yellow;
color: rgb(0, 0, 0);
border: solid 1px orange;
transition: 0.25s;
width:120px;
height: 46px;
font-family: roboto,arial;
font-size: 16px;
border-radius: 20px;
margin-left: 30px;
cursor: pointer;
}
.sign-in-button:hover{
    background-color: orange;
    color: black;
    transition: 0.25s;
    border-color: yellow;
}
.account-img{
    height: 32px;
    
}
.vert{
    height: 38px;
}
.vert:hover{
    cursor: pointer;
}
.home{
    height: 60px;
    cursor: pointer;
}
.meneu-button{
    background-color: transparent;
    border: none;
    border-radius: 3px;
    height: 90px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.30s;
}
.meneu-button:hover{
background-color: rgb(206, 206, 206);
border-radius: 10px;
transition: 0.30s;
}